<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="org.dsml.cpsml.CPSML" xdsmlFilePath="/org.dsml.cpsml/src/org/dsml/cpsml/CPSML.melange" />
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="org.dsml.cpsml.CPSMLMT" uri="http://org.dsml.cpsml.cpsmlmt/" />
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="org.dsml.cpsml.CPSMLMT" id="org.dsml.cpsml.CPSML" uri="http://www.example.org/cpsml" />
  </extension>
</plugin>
